extends ../layouts/default.pug
include ../mixins/product-item.pug
block main
  .section-4(style="padding-top: 60px;")
    .container
      h2.box-title #{pageTitle}
      img(src=articleDetail.cover alt="" class)
      .content 
        p #{articleDetail.createdAtFormat}
        p !{articleDetail.content}
      p.more-content Xem thêm
      ul
        each item in articleSlugList
          li 
            a(href=`/article/${item.slug}`) #{item.title}