extends ../layouts/default.pug
include ../mixins/breadcrumb.pug
include ../mixins/product-item.pug
block main
  +breadcrumb(breadcrumb)
  // Section 9
  .section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-head
              .inner-title Bộ Lọc
              i.fa-solid.fa-filter
            .inner-body
              .inner-group
                .inner-label Điểm đi
                select(name="" filter-locations)
                  option(value="") -- Chọn điểm đi --
                  each item in cityList 
                    option(value=item.slug) #{item.name}
              .inner-group
                .inner-label Điểm đến
                select(name="" filter-departure)
                  option(value="") -- Chọn điểm đến --
                  each item in cityList 
                    option(value=item.slug) #{item.name}
              .inner-group
                .inner-label Ngày khởi hành
                input(type="date" filter-departure-date)
              .inner-group
                .inner-label Số Lượng Hành Khách
                .inner-input-list
                  .inner-input-item
                    .inner-label Người lớn:
                    input(
                      value="0" 
                      type="number"
                      filter-stock-adult
                      )
                  .inner-input-item
                    .inner-label Trẻ em:
                    input(
                      value="0" 
                      type="number"
                      filter-stock-children
                      )
                  .inner-input-item
                    .inner-label Em bé:
                    input(
                      value="0" 
                      type="number"
                      filter-stock-baby
                      )
              .inner-group
                .inner-label Mức giá
                select(name="" filter-price)
                  option(value="") -- Chọn khoảng giá --
                  each item in priceList 
                    option(value=item.value) #{item.description}
              .inner-group
                button.inner-button(reset-filter) Xóa bộ lọc
          .inner-overlay
          // End Box Filter
        .inner-right
          .inner-info
            h2.inner-title #{categoryDetail.name}
            .inner-desc
              | !{categoryDetail.description}
          .inner-info-2
            .inner-sort
              .inner-label Sắp xếp:
              .inner-list(sort-tour-list)
                button(value='increasing-price')
                  | Giá tăng dần
                  i.fa-solid.fa-square-caret-up
                button(value='decreasing-price')
                  | Giá giảm dần
                  i.fa-solid.fa-square-caret-down
                button(value='high-discount').active
                  | Khuyến Mại Hot
                  i.fa-solid.fa-tag
                button(value='most-viewed')
                  | Xem Nhiều
                  i.fa-solid.fa-eye
            .inner-count-record
              | Tất cả: 
              b #{tourList.length} Tour
            button.inner-filter-mobile
              span.inner-title Bộ Lọc
              i.fa-solid.fa-filter
          .inner-list-tour
            each item in tourList 
              +product-item(item)
          // Pagination
          .box-pagination(pagination)
            button(value='first-page')
              i.fa-solid.fa-angles-left
            -for(let i = 0; i<pagination.totalPage; i++)
              button(class=(i==0?"active":"") value=i+1) #{i+1}
            button(value='last-page' totalPage=pagination.totalPage)
              i.fa-solid.fa-angles-right
          // End Pagination
  // End Section 9