extends ../layouts/default.pug

block main
  h1.box-title Tổng quan

  //- Section 1
  .section-1
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-1.svg")
      .inner-content
        .inner-title Người dùng
        .inner-number 1.200
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-2.svg")
      .inner-content
        .inner-title Đơn hàng
        .inner-number #{orderTotal.toLocaleString('vi-VN')}
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-3.svg")
      .inner-content
        .inner-title Doanh thu
        .inner-number #{revenueTotal.toLocaleString('vi-VN')}đ
  //- End Section 1

  //- Section 2
  .section-2
    .inner-head
      h2.inner-title Biểu đồ doanh thu
      .inner-filter
        input(
          type="month"
          name=""
        )
    .inner-chart
      canvas(id="revenue-chart")
  //- End Section 2

  //- Section 3
  .section-3
    h2.inner-title Đơn hàng mới
    .table-1
      table
        thead
          tr
            th Mã
            th Thông tin khách
            th Danh sách tour
            th Thanh toán
            th Trạng thái
            th.inner-text-right Ngày đặt
        tbody
          each item in newestOrder
            tr
              td
                .inner-code #{item.orderCode}
              td
                div Họ tên: #{item.fullName}
                div SĐT: #{item.phone}
                div Ghi chú: #{item.note}
              td
                each tour in item.items
                  .inner-item
                    .inner-image
                      img(src=tour.avatar, alt="Tour Hạ Long")
                    .inner-content
                      .inner-name #{tour.name}
                      .inner-quantity Người lớn: #{tour.quantityAdult} x #{tour.priceNewAdult.toLocaleString('vi-VN')}đ
                      .inner-quantity Trẻ em: #{tour.quantityChildren} x #{tour.priceNewChildren.toLocaleString('vi-VN')}đ
                      .inner-quantity Em bé: #{tour.quantityBaby} x #{tour.priceNewBaby.toLocaleString('vi-VN')}đ
              td
                div Tổng tiền: #{item.subTotal.toLocaleString('vi-VN')}đ
                div Giảm: #{item.discount.toLocaleString('vi-VN')}đ
                //- div Mã giảm: TOURMUAHE2024
                div Thanh toán: #{item.total.toLocaleString('vi-VN')}đ
                div PTTT: #{item.paymentMethodName}
                div TTTT: #{item.paymentStatusName}
              td
                .badge.badge-orange #{item.statusName}
              td(class="inner-center")
                div #{item.hourCreatedFormat}
                div #{item.dateCreatedFormat}
  //- End Section 3