extends ../layouts/default.pug

block main
  h1.box-title Quản lý đơn hàng

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select(filter-status)
          option(value="") Trạng thái
          each item in variableConfig.orderStatus 
            option(value=item.value) #{item.label}
      .inner-item.inner-date
        input(type="date" filter-start-date)
        span -
        input(type="date" filter-end-date)
      .inner-item
        select(filter-payment-method)
          option(value="") Phương thức thanh toán
          each item in variableConfig.paymentMethod
            option(value=item.value) #{item.label}
      .inner-item
        select(filter-payment-status)
          option(value="") Trạng thái thanh toán
          each item in variableConfig.paymentStatus 
            option(value=item.value) #{item.label}
      .inner-item.inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm" search)
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th Mã
            th Thông tin khách
            th Danh sách tour
            th Thanh toán
            th Trạng thái
            th(class="inner-center") Ngày đặt
            th Hành động
        tbody
          each item in orderList
            tr
              td
                .inner-code #{item.orderCode}
              td
                div Họ tên: #{item.fullName}
                div SĐT: #{item.phone}
                div Ghi chú: #{item.note}
              td
                each tour in item.items
                  .inner-item
                    .inner-image
                      img(src=tour.avatar, alt="Tour Hạ Long")
                    .inner-content
                      .inner-name #{tour.name}
                      .inner-quantity Người lớn: #{tour.quantityAdult} x #{tour.priceNewAdult}đ
                      .inner-quantity Trẻ em: #{tour.quantityChildren} x #{tour.priceNewChildren}đ
                      .inner-quantity Em bé: #{tour.quantityBaby} x #{tour.priceNewBaby}đ
              td
                div Tổng tiền: #{item.subTotal.toLocaleString('vi-VN')}đ
                div Giảm: #{item.discount.toLocaleString('vi-VN')}đ
                //- div Mã giảm: TOURMUAHE2024
                div Thanh toán: #{item.total.toLocaleString('vi-VN')}đ
                div PTTT: #{item.paymentMethodName}
                div TTTT: #{item.paymentStatusName}
              td
                .badge.badge-orange #{item.statusName}
              td(class="inner-center")
                div #{item.hourCreatedFormat}
                div #{item.dateCreatedFormat}
              td
                .inner-buttons
                  a(
                    class="inner-edit"
                    href=`/${pathAdmin}/order/edit/${item.id}`
                  ) <i class="fa-regular fa-pen-to-square"></i>
                  button(
                    class="inner-delete"
                    button-delete 
                    data-api = `/${pathAdmin}/order/delete/${item.id}`
                  ) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị #{pagination.skip+1} - #{pagination.skip+orderList.length} của #{pagination.totalRecord}
    select(class="inner-pagination" pagination)
      -for(let i = 1; i<= pagination.totalPage; i++)
        option(value=i) Trang #{i}
  //- End Section 7